{% load static %}  <!-- Carga la biblioteca de archivos estáticos -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Parámetros Diarios</title>
    <!-- Aquí enlazas el CSS usando la etiqueta static -->
    <link rel="stylesheet" href="{% static 'control_diario/css/estilos.css' %}">
</head>
<body>

<div class="form-container">
    <h2>Complete los parámetros diarios</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Enviar</button>
    </form>
</div
