{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Parámetros Diarios</title>
    <link rel="stylesheet" href="{% static 'control_diario/css/estilos.css' %}">
</head>
<body>

    <div class="form-container">
        <h2>Complete los parámetros diarios</h2>
    
        <!-- Mostrar el nombre del usuario centrado -->
        <h3 style="text-align: center;">Usuario: {{ request.user.username }}</h3>
    
        <!-- Mostrar mensajes al usuario (opcional) -->
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    
        <form method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <!-- Mostrar todos los campos del formulario -->
                {% for field in form %}
                    <div class="form-field">
                        {{ field.label_tag }}
                        {{ field }}
                        <div class="field-error">
                            {{ field.errors }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn-submit">Enviar</button>
        </form>
    </div>

</body>
</html>
